body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

input {
  padding: 8px;
  width: 220px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  padding: 20px;
  background: white;
  display: inline-block;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.section {
  margin-bottom: 15px;
}